body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.public-container {
  height: 100vh;
  background-size: cover;
}

.primary-btn:focus,
.primary-btn:hover,
.primary-btn:active {
  color: white;
  border-color: white;
}

.ant-menu.ant-menu-dark .ant-menu-submenu.submenu:hover,
.ant-menu.ant-menu-dark .ant-menu-submenu-selected.submenu:hover,
.ant-menu.ant-menu-dark .ant-menu-submenu-open.submenu:hover,
.ant-menu.ant-menu-dark .ant-menu-submenu-open.submenu,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-item.submenuitem {
  margin: 0px;
  background: black;
  color: white;
}

.ant-menu.ant-menu-dark .ant-menu-item.submenuitem {
  margin: 0px;
  background: black;
  color: white;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.submenuitem {
  background: white !important;
  color: black !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.menuitem,
.ant-menu.ant-menu-dark .ant-menu-submenu-selected.submenu {
  background: white;
  color: black;
}

.site-layout-content {
  background: white;
  padding: 24px;
  min-height: 1000px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
